.composition-container {
    position: absolute;
}

.template {
    height: 1300px;
}

.back {
    z-index: -10;
}


/* POSITIONS */

#c1 {
    width: 430px;
    top: 36px;
    left: 106px;
}
#c2 {
    width: 347px;
    top: 107px;
    left: 451px;
}
#c3 {
    width: 333px;
    top: 309px;
    left: 767px;
}
#c4 {
    width: 347px;
    top: 456px;
    left: 171px;
}
#c5 {
    width: 430px;
    top: 148px;
    left: 983px;
}
#c6 {
    width: 419px;
    top: 630px;
    left:  1180px;
}
#c7 {
    width: 382px;
    top: 332px;
    left: 1302px;
}
#c8 {
    width: 429px;
    top: 810px;
    left: 379px;
}

.scale {
    transform: scale(1.5);
}

.scale-left {
    transform-origin: center right;
}

.scale-right {
    transform-origin: center left;
}