.composition-container {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.template {
    height: 1300px;
    /* background-image: url("../images/comp.jpg");
    background-repeat: no-repeat;
    background-size: 100%; */
}

.back {
    z-index: -10;
}

.scale {
    transform: scale(1.5);
}

.scale-left {
    transform-origin: center right;
}

.scale-right {
    transform-origin: center left;
}

/* POSITIONS */

#c1 {
    width: 424px;
    top: 26px;
    left: 103px;
}

#c4 {
    width: 346px;
    top: 481px;
    left: 80px;
}

#c2 {
    width: 266px;
    top: 247px;
    left: 382px;
}

#c8 {
    width: 429px;
    top: 808px;
    left: 361px;
}

#c3 {
    width: 308px;
    top: 324px;
    left: 767px;
}

#c5 {
    width: 1660px;
    top: 88px;
    left: 0px;
}

#c7 {
    width: 382px;
    top: 361px;
    left: 1301px;
}

#c6 {
    width: 388px;
    top: 692px;
    left: 1179px;
}