/***********************************************************************
*
*   GLOBAL STYLES FOR ALL PAGES
*
***********************************************************************/

html {
    min-height: 100%;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}


a {
    text-decoration: none;
    color: inherit;
}

/* a:visited {} */

.check {
    border: 1px solid pink;
}

.debug {
    border: 1px solid red;

}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
    opacity: 0;
}

.ui-resizable-e {
    width: 50px;
    right: -5px;
}

/***********************************************************************
*
*   LAYOUT
*
***********************************************************************/

.flex {
    display: flex;
    flex-direction: column;

}

.flex-center {
    align-items: center;
    justify-content: center;
}

.fl-grow {
    flex-grow: 1;
    min-height: 600px;
}

.row {
    flex-direction: row;
}

.grid {
    display: grid;
}

.container {
    padding: 0 5rem;
}

.body-wrap {
    width: 715px;
    margin: 3em auto;
    /* might want some padding */
}

.w50 {
    width: 50%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%
}

.vh100 {
    height: 100vh;
}

.h100 {
    height: 100%;
}

/***********************************************************************
*
*   SPACING
*
***********************************************************************/

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

/***********************************************************************
*
*   TYPOGRAPHY
*
***********************************************************************/


.arial {
    font-family: Helvetica, Arial, sans-serif;
}

.times {
    font-family: "Times New Roman";
}

.editorial {
    color: rgb(65, 65, 65);
    font-size: 18px;
    line-height: 1.4;
    padding-top: 1rem;
}

.head-xlarge {
    font-size: 12rem;
    letter-spacing: -5px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}

.head-large {
    font-size: 8rem;
    letter-spacing: -4px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}

.head-medium {
    font-size: 6rem;
    letter-spacing: -3px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
}

.head-s {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
}

.sub-s {
    font-size: .75em;
    letter-spacing: 0.5px;
    line-height: 1.4;
    font-weight: 400;
    /* text-transform: uppercase;*/
}

.copy-text p {
    font-family: Times New Roman;
    text-indent: 2.5em;
    letter-spacing: 0.2px;
    margin-bottom: 1em;
}

.blockquote {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.underline {
    text-decoration: underline;
}

.ghost {
    opacity: 0.7;
}

/* .highlight {
    opacity: 1;
} */


/***********************************************************************
*
*   IMAGES
*
***********************************************************************/

img {
    display: block;
    width: 100%;
}

.w25 {
    width: 25%;
}

.caption {
    position: absolute;
    font-size: 13px;
    color: rgb(151, 151, 151);
}

#acne1 {
    right: -16rem;
    bottom: 2rem;
}

#acne2 {
    width: 25rem;
    position: absolute;
    right: -60%;
    top: 0;
}

#acne2 .caption {
    padding-top: 1rem;
}

#acne-group {
    width: 100%;
    padding: 0 auto;
}

#acne-group>div {
    width: 65%;
}

#acne-g1 {
    padding-bottom: 20%;
}

#acne-g2 {
    margin: auto
}

#acne-g3 {
    padding-top: 20%;
}

#acne-gc {
    bottom: 5rem;
    left: 3rem;
}



/***********************************************************************
*
*   SPECIAL ADJUSTMENTS
*
***********************************************************************/

#indent-header {
    position: relative;
    left: -6px;
}

/***********************************************************************
*
*   HEADER
*
***********************************************************************/

.header {
    background: white;
    position: fixed;
    line-height: 2.5rem;
    width: 100%;
    z-index: 10;
}

.header+* {
    margin-top: 144px;
}

#namebar {
    padding: 2rem 0 2rem;
    user-select: none;
    border-bottom: 1px solid rgb(151, 151, 151);
}

#roles {
    font-family: 'Courier New';
    margin-left: .7rem;
    height: 2.4rem;
    min-width: 5rem;
    border-bottom: 1px solid rgb(151, 151, 151);
    cursor: pointer;
    top: 1px;
    font-size: 15px;
}

.role:not(:first-child),
.drop-wrap:not(:first-child),
.crumb:not(:first-child),
.crumb:not(:last-child)::after,
#index-pg::after {
    padding-left: .7rem;
}

.breadcrumbs {
    line-height: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Courier New';
    user-select: none;
}

.breadcrumbs {
    color: rgba(0, 0, 0, .6);
}

.crumb:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.arrow {
    font-size: .7em;
    padding-left: .7rem;
}

.dropdown {
    display: none;
    padding-left: .7rem;
    position: absolute;
    left: 100%;
    top: 100%;
}

.dropdown,
.dropdown * {
    background: white;
}

.drop-link {
    line-height: 2;
}

#drop {
    display: block;
}

/***********************************************************************
*
*   INDEX
*
***********************************************************************/

.canvas {
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 100%;
    position: relative;
    z-index: 0;
}


.project {
    position: absolute;
    height: 225px;
    width: 300px;
}

.project a {
    text-decoration: none;
}

.project-name {
    display: none;
    color: white;
    font-size: 17px;
    opacity: .9;
}

.project:hover .project-name {
    display: block;
}

.project:hover {
    cursor: move;
}

/***********************************************************************
*
*   IN FOCUS
*
***********************************************************************/

.archive {
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 2.5rem;

}

.title {
    margin-top: .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
}


.card {
    width: 100%;
}

.test {
    width: 100%;
}

.testing {
    width: 715px;

}

/***********************************************************************
*
*   RICK OWENS
*
***********************************************************************/

#rick-owens {
    font-size: 20px;
    /* font-family: Helvetica, Arial, sans-serif; */
}

#ro-head {
    left: 0px;
    font-size: 70px;
    width: 700px;
    /* margin-bottom: 1em; */
}

#ro-sub {
    width: 760px;
    font-size: 31.5px;
    font-weight: 700;
    left: 262px;
    top: 24px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 2em;
    line-height: 1.4;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    width: 550px;
    top: 20px;
}

#ro-prof {
    width: 205px;
    left: 206px;
}

#ro-baker {
    width: 280px;
    position: absolute;
    top: 188px;
    left: 822px;
}

#ro-runway {
    height: 750px;
}

#ro-glitter {
    width: 260px;
    left: 0;
    top: 20px;
}

#ro-cyclops {
    width: 260px;
    left: 180px;
    top: 170px;
}

#ro-swatch {
    width: 60%;
    margin: 0 auto;

}

#swatch-grid {
    display: grid;
    grid-template-columns: repeat(6, 130px);
    grid-template-rows: 30px;
    /* grid-template-rows: repeat(6,30px); */
    /* grid-template-columns: 130px; */
}

#ro-s1 {
    background: #231f20;
}

#ro-s2 {
    background: #545456;
}

#ro-s3 {
    background: #8f615b;
}

#ro-s4 {
    background: #bcb08d;
}

#ro-s5 {
    background: #f1d0ac;
}

#ro-s6 {
    background: #9bb5b6;
}

#ro-swatch {
    margin: 0 auto;
    padding-bottom: 100px;
}

#ro-peggy {
    width: 251px;
    right: 386px;
    bottom: 210px;
}

#ro-peggy,
#ro-baker {
    transition-property: opacity;
    transition-duration: .2s;
}

#ro-peggy:hover,
#ro-baker:hover {
    opacity: 1;
}

.swatch {
    background: red;
}

.copy-text .ro-bq {
    font-weight: 700;
    margin: 2em 0;
    /* padding-bottom: 1em; */
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    width: 550px;
    text-align: center;
    text-indent: 0;
    font-size: 24px;
}

.ro-wrap {
    margin-right: 0px;
    margin-left: 535px;
    width: 550px;
    margin-top: 1em;
}

.ro-cap-1 {
    margin-top: 1rem;
}

.sw-cap {
    /* text-align: right; */
    /* right: 0; */
    width: 210px;
}

/***********************************************************************
*
*   FOOTER
*
***********************************************************************/

.contact {
    font-family: 'Courier New',
        Courier,
        monospace;
    padding-top: 2rem;
    padding-bottom: 3rem;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 50px;
    border-top: 1px solid rgb(151, 151, 151);

}


.section {
    position: relative;
    top: 11px;
    left: -5px;
}

.block {
    height: 8px;
    width: 38px;
    margin-right: .5rem;
}

/***********************************************************************
*
*   COLORS
*
***********************************************************************/

.red {
    background: #E01604;
}

.blue {
    background: #1139d8;
}

.pink {
    background: #FC256D;
}

.brown {
    background: #93867F;
}

.green {
    background: #00E059;
}

.yellow {
    background: #FFF60D;
}

.orange {
    background: #FF6E00;
}

.grey {
    background: rgba(0, 0, 0, .75);
}


/***********************************************************************
*
*   HIDE/SHOW
*
***********************************************************************/



.full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.index-container {
    margin-top: 0;
    padding-top: 85px;
    flex-grow: 1;
    /* height: 100%; */
}

.hide {
    display: none;
}

.show {
    display: initial;
}

.page-trigger {
    background: lightgrey;
}

