.temperature {
    position: relative;
    overflow: hidden;
    margin: 0 5rem;
    /* padding-top: 130px; */
    height: 100vh;
    user-select: none;
}

.slide__wrapper {
    position: absolute;
    top: 0;
    height: 50000px;
    width: 50000px;
}

.temperature__slide {
    position: relative;
}

.temperature__image {
    position: absolute;
}

.button {
    position: absolute;
    z-index: 1000;
    /* top: 300px; */
    left: 0;
    width: 100px;
    height: 50px;
    background: blue;
    color: white;
}

/***********************************************************************
*
*   IMAGES
*
***********************************************************************/
/*31
+29 */
/* added 150px to top */
#t1 {
    width: 324px;
    top: 295px;
    left: 305px;
}

#t2 {
    width: 348px;
    top: 235px;
    left: 709px;
}

#t3 {
    width: 444px;
    top: 287px;
    left: 1145px;
}

#t4 {
    width: 356px;
    top: 947px;
    left: 329px;
}

#t5 {
    width: 352px;
    top: 1075px;
    left: 757px;
}

#t6 {
    width: 376px;
    top: 1171px;
    left: 1193px;
}

#t7 {
    width: 608px;
    top: 1071px;
    left: 2509px;
}

#t8 {
    width: 372px;
    top: 1179px;
    left: 4045px;
}

#t9 {
    width: 376px;
    top: 1179px;
    left: 4533px;
}

#t10 {
    width: 496px;
    top: 1175px;
    left: 5041px;
}

#t11 {
    width: 360px;
    top: 1183px;
    left: 5657px;
}

#t12 {
    width: 324px;
    top: 2091px;
    left: 4541px;
}

#t13 {
    width: 332px;
    top: 1935px;
    left: 4929px;
}

#t14 {
    width: 316px;
    top: 2071px;
    left: 5317px;
}

#t15 {
    width: 344px;
    top: 2171px;
    left: 5697px;
}

#t16 {
    width: 364px;
    top: 2835px;
    left: 5165px;
}

#t17 {
    width: 364px;
    top: 3611px;
    left: 5165px;
}

/***********************************************************************
*
*   WORDS
*
***********************************************************************/

.slide__line {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: 15px;
    position: absolute;
    width: 400px;
}


#l11 {
    top: 500px;
    left: 0;
}

#l12 {
    top: 520px;
    left: 0;
}


#l13 {
    top: 540px;
    left: 0;
}


#l21 {
    top: 1000px;
    left: 70px;
}

#l22 {
    top: 1020px;
    left: 70px;
}

#l23 {
    top: 1040px;
    left: 70px;
}

#l24 {
    top: 1060px;
    left: 70px;
}

#l31 {
    left: 2292px;
    top: 1236px;
}

#l32 {
    left: 2292px;
    top: 1336px;
}

#l33 {
    left: 4581.44px;
    top: 1670px;
}

#l34 {
    left: 4517.55px;
    top: 1710px;
}

#l41 {
    left: 5042.44px;
    top: 2338px;
}

#l42 {
    left: 5285.55px;
    top: 2527px;
}

#l43 {
    left: 5271.55px;
    top: 2790px;
}

#l44 {
    left: 5276.55px;
    top: 3556px;
}