.temperature {
    position: relative;
    overflow: hidden;
    margin: 0 5rem;
    /* padding-top: 130px; */   
    height: 100vh
}

.slide__wrapper {
    position: absolute;
    top: 0;
}

.temperature__slide {
    position: relative;
}

.temperature__image {
    position: absolute;
}

/***********************************************************************
*
*   IMAGES
*
***********************************************************************/

/* added 150px to top */
#t1 {
    width: 353px;
    top: 239px;
    left: 271px;
}

#t2 {
    width: 375px;
    top: 167px;
    left: 695px;
}

#t3 {
    width: 478px;
    top: 258px;
    left: 1158px;
}

#t4 {
    width: 366px;
    top: 835px;
    left: 456px;
}

#t5 {
    width: 364px;
    top: 958px;
    left: 866px;
}

#t6 {
    width: 406px;
    top: 1066px;
    left: 1271px;
}

#t7 {
    width: 768px;
    top: 903px;
    left: 1789px;
}

#t8 {
    width: 414px;
    top: 1077px;
    left: 2639px;
}

#t9 {
    width: 405px;
    top: 1092px;
    left: 3105px;
}

#t10 {
    width: 692px;
    top: 1516px;
    left: 3542px;
}

#t11 {
    width: 445px;
    top: 1594px;
    left: 4291px;
}

#t12 {
    width: 380px;
    top: 2337px;
    left: 3416px;
}

#t13 {
    width: 383px;
    top: 2226px;
    left: 3857px;
}

#t14 {
    width: 389px;
    top: 2198px;
    left: 4316px;
}

#t15 {
    width: 388px;
    top: 2396px;
    left: 4753px;
}

#t16 {
    width: 369px;
    top: 2643px;
    left: 5176px;
}

#t17 {
    width: 367px;
    top: 2761px;
    left: 5622px;
}

/***********************************************************************
*
*   WORDS
*
***********************************************************************/

.line {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: 15px;
    position: absolute;
    width: 400px;
}

#p11 {
    left: 600.56px;
    top: -70px;
}

#p12 {
    left: 632.56px;
    top: -30px;
}

#p13 {
    left: 643.56px;
    top: 6px;
}

#p21 {
    left: 1031.56px;
    top: 84px;
}

#p22 {
    left: 1032.56px;
    top: 117px;
}

#p23 {
    left: 1041.56px;
    top: 616px;
}

#p24 {
    left: 1862.56px;
    top: 342px;
}

#p31 {
    left: 2487.56px;
    top: 117px;
}

#p32 {
    left: 2768.56px;
    top: 121px;
}

#p33 {
    left: 3669.56px;
    top: 940px;
}

#p34 {
    left: 2869.44px;
    top: 980px;
}

#p41 {
    left: 3515.44px;
    top: 2050px;
}

#p42 {
    left: 4832.56px;
    top: 2128px;
}

#p43 {
    left: 5792.56px;
    top: 2550px;
}

#p44 {
    left: 6211.56px;
    top: 2063px;
}